.main-layout {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
}

.card-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}